In [36]:
import warnings
warnings.filterwarnings("ignore")

In [37]:
import pandas as pd
import numpy as np

In [38]:
data = pd.read_csv('report/new_rents_99perc.csv', index_col=0)
data.month.unique()

array([ 7,  9, 10, 12,  1,  2,  3,  5,  8])

In [39]:
data = data[data['country'] == 'QAT']

In [40]:
data.month.unique()

array([ 7,  9, 10, 12,  1,  2,  3,  5,  8])

In [41]:
data.columns

Index(['title', 'link', 'price', 'location', 'bedrooms', 'bathrooms', 'size',
       'description', 'amenities', 'country',
       ...
       'cat_bedrooms', 'property_type', 'com_type', 'ln_size', 'price_per_sqm',
       'ln_price_per_sqm', 'furnished', 'region', 'municipality',
       'upd_municip'],
      dtype='object', length=105)

In [42]:
amenities_columns = ['Gym', 'SwimmingPool', 'ChildrensPlayArea', 'Jacuzzi', 'Sauna', 'SteamRoom', 'BarbecueArea', 'CCTVSecurity', 'SecurityStaff', 'ConciergeService', 'Intercom', 'AirConditioning', 'CentralHeating', 'Balcony', 'Fireplace', 'WalkInCloset', 'MaidRoom', 'DriversRoom', 'StudyRoom', 'PrivateGarden', 'PrivateJacuzzi', 'PrivatePool', 'PrivateGarage', 'Elevator', 'ElectricityBackup', 'BroadbandInternet', 'SatelliteCableTV', 'WasteDisposal', 'Networked', 'Parking', 'KitchenAppliances', 'LaundryRoom', 'ReceptionWaitingRoom', 'SharedGym', 'SharedSpa', 'PrayerRoom', 'NoCommission', 'PetsAllowed', 'FreeUtilities']

In [43]:
non_amen_cols = list(set(list(data.columns)) - set(amenities_columns))

In [44]:
# categorical_cols = ['property_type', 'region', 'furnished', 'bedrooms', 'bathrooms']

categorical_cols = ['property_type', 'upd_municip', 'furnished', 'bedrooms', 'bathrooms']

In [45]:
data = data.drop(columns=['title', 'link', 'location', 'description',
                          'amenities', 'currency', 'period',
                          'website', 'municipality',
                          'com_type'])

In [46]:
data['bathrooms'] = data['bathrooms'].astype(str)
data = data[~data['bathrooms'].str.contains('sqm')]
data['bedrooms'] = data['bedrooms'].astype(str)
data = data[~data['bedrooms'].str.contains('sqm')]
data = data[~data['bedrooms'].str.contains('Viva Bahriya, The Pearl, Doha')]
data = data[~data['bedrooms'].str.contains('Al Mansoura')]
data = data[~data['bedrooms'].str.contains('Furnished')]

In [47]:
data

,price,bedrooms,bathrooms,size,country,offers,year,month,free_month,Gym,...,PetsAllowed_observed,FreeUtilities_observed,cat_bedrooms,property_type,ln_size,price_per_sqm,ln_price_per_sqm,furnished,region,upd_municip
0,11000.0,1,1,72.0,QAT,NaN,2023,7,0,1,...,0,0,1,Apartment,4.276666,152.777778,5.028984,fully_furnished,???,NaN
1,5500.0,1,2,110.0,QAT,NaN,2023,9,0,1,...,1,0,1,Apartment,4.700480,50.000000,3.912023,fully_furnished,???,NaN
2,5500.0,1,2,110.0,QAT,NaN,2023,9,0,1,...,1,0,1,Apartment,4.700480,50.000000,3.912023,fully_furnished,???,NaN
3,5500.0,1,2,110.0,QAT,NaN,2023,9,0,1,...,1,0,1,Apartment,4.700480,50.000000,3.912023,fully_furnished,???,NaN
4,7500.0,3,4,200.0,QAT,NaN,2023,9,0,1,...,0,0,3,Apartment,5.298317,37.500000,3.624341,unfurnished,???,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66956,18000.0,6,7,370.0,QAT,NaN,2024,1,0,1,...,1,0,5+,Villa Compound,5.913503,48.648649,3.884624,unfurnished,west bay area,Doha Municipality
66957,28000.0,4,6,750.0,QAT,NaN,2024,2,0,0,...,0,0,4,Villa Compound,6.620073,37.333333,3.619887,partially_furnished,west bay area,Doha Municipality
66958,18000.0,5,6,340.0,QAT,NaN,2024,2,0,0,...,1,0,5+,Villa Compound,5.828946,52.941176,3.969181,partially_furnished,west bay area,Doha Municipality
66959,22000.0,5,6,400.0,QAT,NaN,2024,2,0,1,...,0,0,5+,Villa Compound,5.991465,55.000000,4.007333,partially_furnished,west bay area,Doha Municipality
66960,28000.0,4,6,750.0,QAT,NaN,2024,2,0,0,...,0,0,4,Villa Compound,6.620073,37.333333,3.619887,partially_furnished,west bay area,Doha Municipality

In [48]:
data_dummies = pd.get_dummies(data[categorical_cols])
data_dummies = data_dummies.astype(int)
data_model = pd.concat([data, data_dummies], axis=1)

In [49]:
data.bathrooms.unique()

array(['1', '2', '4', '3', '6', 'studio', '5', '7', '7+', '9', '8'],
      dtype=object)

In [50]:
data_model = data_model.drop(columns=['country', "property_type",  "furnished", 'bedrooms', 'bathrooms', 'cat_bedrooms'])

In [51]:
if 'offers' in data_model.columns:
    data_model = data_model.drop(columns=['offers'])

In [52]:
# Define independent and dependent variables using 'ln_size'
dependent_var = 'ln_price_per_sqm'

In [53]:
data_model.month.unique()

array([ 7,  9, 10, 12,  1,  2,  3,  5,  8])

In [54]:
data_model['month_year'] = data_model['year'].astype(str) + "_" +data_model['month'].astype(str)
data_model['month_year'].unique()

array(['2023_7', '2023_9', '2023_10', '2023_12', '2024_1', '2024_2',
       '2024_3', '2024_5', '2023_8'], dtype=object)

In [55]:
date_dummies = pd.get_dummies(data_model['month_year'])
date_dummies = date_dummies.astype(int)
print(date_dummies)
data_model = pd.concat([data_model, date_dummies], axis=1)

       2023_10  2023_12  2023_7  2023_8  2023_9  2024_1  2024_2  2024_3  \
0            0        0       1       0       0       0       0       0
1            0        0       0       0       1       0       0       0
2            0        0       0       0       1       0       0       0
3            0        0       0       0       1       0       0       0
4            0        0       0       0       1       0       0       0
...        ...      ...     ...     ...     ...     ...     ...     ...
66956        0        0       0       0       0       1       0       0
66957        0        0       0       0       0       0       1       0
66958        0        0       0       0       0       0       1       0
66959        0        0       0       0       0       0       1       0
66960        0        0       0       0       0       0       1       0

       2024_5
0           0
1           0
2           0
3           0
4           0
...       ...
66956       0
66957       0
66958       0
66959       0
66960       0

[64472 rows x 9 columns]

In [56]:
data_model = data_model.drop(columns=['year', 'month', 'month_year'])

In [57]:
categories = {
    'Health_and_Fitness': [
        'Gym', 'SwimmingPool', 'ChildrensPlayArea', 'Jacuzzi', 'Sauna', 'SteamRoom',
        'SharedGym', 'SharedSpa'
    ],
    'Security_and_Safety': [
        'CCTVSecurity', 'SecurityStaff', 'Intercom'
    ],
    'Home_Comforts_and_Luxuries': [
        'AirConditioning', 'CentralHeating', 'Balcony', 'Fireplace', 'WalkInCloset',
        'MaidRoom', 'DriversRoom', 'StudyRoom', 'PrivateGarden', 'PrivateJacuzzi',
        'PrivatePool', 'PrivateGarage', 'Elevator', 'KitchenAppliances', 'LaundryRoom',
        'ReceptionWaitingRoom', 'PetsAllowed'
    ],
    'Utilities_and_Connectivity': [
        'ElectricityBackup', 'BroadbandInternet', 'SatelliteCableTV', 'WasteDisposal',
        'Networked'
    ],
    'Building_and_Community_Features': [
        'BarbecueArea', 'ConciergeService', 'PrayerRoom', 'NoCommission',
        'FreeUtilities', 'Parking'
    ]
}

# Create new columns for each category
for category, amenities in categories.items():
    # Check if any of the amenities in the category is present for each row
    data_model[category] = data_model[amenities].any(axis=1).astype(int)

amenities_columns = [amenity for sublist in categories.values() for amenity in sublist]
data_model.drop(columns=amenities_columns, inplace=True)

In [58]:
data_model

,price,size,free_month,Gym_observed,SwimmingPool_observed,ChildrensPlayArea_observed,Jacuzzi_observed,Sauna_observed,SteamRoom_observed,BarbecueArea_observed,...,2023_9,2024_1,2024_2,2024_3,2024_5,Health_and_Fitness,Security_and_Safety,Home_Comforts_and_Luxuries,Utilities_and_Connectivity,Building_and_Community_Features
0,11000.0,72.0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1
1,5500.0,110.0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,1,1,1,0,1
2,5500.0,110.0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,1,1,1,0,1
3,5500.0,110.0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,1,1,1,0,1
4,7500.0,200.0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66956,18000.0,370.0,0,1,1,0,0,0,0,0,...,0,1,0,0,0,1,1,1,0,0
66957,28000.0,750.0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,1,1,0,1
66958,18000.0,340.0,0,0,1,1,0,0,0,1,...,0,0,1,0,0,1,1,1,0,1
66959,22000.0,400.0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,1,1,1,0,1
66960,28000.0,750.0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,1,1,0,1

In [59]:
# # Create 'bedrooms_8_and_over' column
# bedroom_columns = ['bedrooms_7+']
# data_model['bedrooms_7_and_over'] = data_model[bedroom_columns].any(axis=1).astype(int)
# 
# # Drop the original bedroom columns
# data_model.drop(columns=bedroom_columns, inplace=True)
# 
# # Create 'bathrooms_8_and_over' column
# bathroom_columns = ['bathrooms_7+', 'bathrooms_8', 'bathrooms_9']
# data_model['bathrooms_8_and_over'] = data_model[bathroom_columns].any(axis=1).astype(int)
# 
# # Drop the original bathroom columns
# data_model.drop(columns=bathroom_columns, inplace=True)

In [60]:
data_model.columns

Index(['price', 'size', 'free_month', 'Gym_observed', 'SwimmingPool_observed',
       'ChildrensPlayArea_observed', 'Jacuzzi_observed', 'Sauna_observed',
       'SteamRoom_observed', 'BarbecueArea_observed',
       ...
       '2023_9', '2024_1', '2024_2', '2024_3', '2024_5', 'Health_and_Fitness',
       'Security_and_Safety', 'Home_Comforts_and_Luxuries',
       'Utilities_and_Connectivity', 'Building_and_Community_Features'],
      dtype='object', length=104)

In [61]:
data_model['bedrooms_small'] = data_model[['bedrooms_0', 'bedrooms_1']].any(axis=1).astype(int)
data_model['bedrooms_standard'] = data_model[['bedrooms_2', 'bedrooms_3']].any(axis=1).astype(int)
data_model['bedrooms_large'] = data_model[['bedrooms_4', 'bedrooms_5', 'bedrooms_6', 'bedrooms_7', 'bedrooms_7+']].any(axis=1).astype(int)

# Drop original bedroom columns
bedroom_columns = ['bedrooms_0', 'bedrooms_1', 'bedrooms_2', 'bedrooms_3', 'bedrooms_4', 'bedrooms_5', 'bedrooms_6', 'bedrooms_7', 'bedrooms_7+']
data_model.drop(columns=bedroom_columns, inplace=True)

# Group bathrooms
data_model['bathrooms_small'] = data_model[['bathrooms_1', 'bathrooms_2', 'bathrooms_studio']].any(axis=1).astype(int)
data_model['bathrooms_large'] = data_model[['bathrooms_3', 'bathrooms_4', 'bathrooms_5', 'bathrooms_6', 'bathrooms_7', 'bathrooms_7+', 'bathrooms_8', 'bathrooms_9']].any(axis=1).astype(int)

# Drop original bathroom columns
bathroom_columns = ['bathrooms_1', 'bathrooms_2', 'bathrooms_3', 'bathrooms_4', 'bathrooms_5', 'bathrooms_6', 'bathrooms_7', 'bathrooms_studio', 'bathrooms_7+', 'bathrooms_8', 'bathrooms_9']
data_model.drop(columns=bathroom_columns, inplace=True)

In [62]:
data_model.columns

Index(['price', 'size', 'free_month', 'Gym_observed', 'SwimmingPool_observed',
       'ChildrensPlayArea_observed', 'Jacuzzi_observed', 'Sauna_observed',
       'SteamRoom_observed', 'BarbecueArea_observed', 'CCTVSecurity_observed',
       'SecurityStaff_observed', 'ConciergeService_observed',
       'Intercom_observed', 'AirConditioning_observed',
       'CentralHeating_observed', 'Balcony_observed', 'Fireplace_observed',
       'WalkInCloset_observed', 'MaidRoom_observed', 'DriversRoom_observed',
       'StudyRoom_observed', 'PrivateGarden_observed',
       'PrivateJacuzzi_observed', 'PrivatePool_observed',
       'PrivateGarage_observed', 'Elevator_observed',
       'ElectricityBackup_observed', 'BroadbandInternet_observed',
       'SatelliteCableTV_observed', 'WasteDisposal_observed',
       'Networked_observed', 'Parking_observed', 'KitchenAppliances_observed',
       'LaundryRoom_observed', 'ReceptionWaitingRoom_observed',
       'SharedGym_observed', 'SharedSpa_observed', 'PrayerRoom_observed',
       'NoCommission_observed', 'PetsAllowed_observed',
       'FreeUtilities_observed', 'ln_size', 'price_per_sqm',
       'ln_price_per_sqm', 'region', 'upd_municip', 'property_type_Apartment',
       'property_type_Compound', 'property_type_Duplex',
       'property_type_Hotel Apartments', 'property_type_Penthouse',
       'property_type_Residential Building', 'property_type_Room',
       'property_type_Studio', 'property_type_Townhouse',
       'property_type_Villa', 'property_type_Villa Compound',
       'upd_municip_Al-Daayen Municipality',
       'upd_municip_Al-Khor and Al-Thakhira Municipality',
       'upd_municip_Al-Rayyan Municipality',
       'upd_municip_Al-Shamal Municipality',
       'upd_municip_Al-Sheehaniya Municipality',
       'upd_municip_Al-Wakrah Municipality', 'upd_municip_Doha Municipality',
       'upd_municip_Umm Salal Municipality', 'furnished_fully_furnished',
       'furnished_partially_furnished', 'furnished_unfurnished',
       'furnished_unsure', '2023_10', '2023_12', '2023_7', '2023_8', '2023_9',
       '2024_1', '2024_2', '2024_3', '2024_5', 'Health_and_Fitness',
       'Security_and_Safety', 'Home_Comforts_and_Luxuries',
       'Utilities_and_Connectivity', 'Building_and_Community_Features',
       'bedrooms_small', 'bedrooms_standard', 'bedrooms_large',
       'bathrooms_small', 'bathrooms_large'],
      dtype='object')

In [63]:
data_model['property_type_Hotel Apartment'] = data_model['property_type_Hotel Apartments']
data_model.drop(columns=['property_type_Hotel Apartments'], inplace=True)

In [64]:
data_model['property_type_Villa'] = data_model['property_type_Villa'] + \
                                        data_model['property_type_Villa Compound']
data_model.drop(columns=['property_type_Villa Compound'], inplace=True)

In [65]:
data_model.columns

Index(['price', 'size', 'free_month', 'Gym_observed', 'SwimmingPool_observed',
       'ChildrensPlayArea_observed', 'Jacuzzi_observed', 'Sauna_observed',
       'SteamRoom_observed', 'BarbecueArea_observed', 'CCTVSecurity_observed',
       'SecurityStaff_observed', 'ConciergeService_observed',
       'Intercom_observed', 'AirConditioning_observed',
       'CentralHeating_observed', 'Balcony_observed', 'Fireplace_observed',
       'WalkInCloset_observed', 'MaidRoom_observed', 'DriversRoom_observed',
       'StudyRoom_observed', 'PrivateGarden_observed',
       'PrivateJacuzzi_observed', 'PrivatePool_observed',
       'PrivateGarage_observed', 'Elevator_observed',
       'ElectricityBackup_observed', 'BroadbandInternet_observed',
       'SatelliteCableTV_observed', 'WasteDisposal_observed',
       'Networked_observed', 'Parking_observed', 'KitchenAppliances_observed',
       'LaundryRoom_observed', 'ReceptionWaitingRoom_observed',
       'SharedGym_observed', 'SharedSpa_observed', 'PrayerRoom_observed',
       'NoCommission_observed', 'PetsAllowed_observed',
       'FreeUtilities_observed', 'ln_size', 'price_per_sqm',
       'ln_price_per_sqm', 'region', 'upd_municip', 'property_type_Apartment',
       'property_type_Compound', 'property_type_Duplex',
       'property_type_Penthouse', 'property_type_Residential Building',
       'property_type_Room', 'property_type_Studio', 'property_type_Townhouse',
       'property_type_Villa', 'upd_municip_Al-Daayen Municipality',
       'upd_municip_Al-Khor and Al-Thakhira Municipality',
       'upd_municip_Al-Rayyan Municipality',
       'upd_municip_Al-Shamal Municipality',
       'upd_municip_Al-Sheehaniya Municipality',
       'upd_municip_Al-Wakrah Municipality', 'upd_municip_Doha Municipality',
       'upd_municip_Umm Salal Municipality', 'furnished_fully_furnished',
       'furnished_partially_furnished', 'furnished_unfurnished',
       'furnished_unsure', '2023_10', '2023_12', '2023_7', '2023_8', '2023_9',
       '2024_1', '2024_2', '2024_3', '2024_5', 'Health_and_Fitness',
       'Security_and_Safety', 'Home_Comforts_and_Luxuries',
       'Utilities_and_Connectivity', 'Building_and_Community_Features',
       'bedrooms_small', 'bedrooms_standard', 'bedrooms_large',
       'bathrooms_small', 'bathrooms_large', 'property_type_Hotel Apartment'],
      dtype='object')

In [66]:
# data_model['property_type_standard'] = data_model[['property_type_Apartment', 'property_type_Studio', 'property_type_Room', 'property_type_Hotel Apartment']].any(axis=1).astype(int)
# data_model['property_type_luxury'] = data_model[['property_type_Penthouse', 'property_type_Duplex', 'property_type_Villa', 'property_type_Townhouse']].any(axis=1).astype(int)
# data_model['property_type_compound'] = data_model[['property_type_Compound', 'property_type_Residential Building', 'property_type_Villa Compound']].any(axis=1).astype(int)
# 
# # Drop original property type columns
# property_type_columns = ['property_type_Apartment', 'property_type_Compound', 'property_type_Duplex',
#                          'property_type_Penthouse', 'property_type_Residential Building',
#                          'property_type_Room', 'property_type_Studio', 'property_type_Townhouse',
#                          'property_type_Villa', 'property_type_Villa Compound']
# data_model.drop(columns=property_type_columns, inplace=True)

In [67]:
data_model = data_model.dropna()

In [68]:
data_model.ln_size = data_model.ln_size.apply(lambda x: float(x))
data_model.replace([np.inf, -np.inf], np.nan, inplace=True)

# Drop rows with NaN
data_model.dropna(inplace=True)

In [69]:
data_model

,price,size,free_month,Gym_observed,SwimmingPool_observed,ChildrensPlayArea_observed,Jacuzzi_observed,Sauna_observed,SteamRoom_observed,BarbecueArea_observed,...,Security_and_Safety,Home_Comforts_and_Luxuries,Utilities_and_Connectivity,Building_and_Community_Features,bedrooms_small,bedrooms_standard,bedrooms_large,bathrooms_small,bathrooms_large,property_type_Hotel Apartment
81,5200.0,150.0,0,0,0,1,0,0,0,0,...,1,1,0,1,0,1,0,1,0,0
82,12000.0,350.0,0,0,1,0,0,0,0,0,...,1,1,0,0,0,1,0,0,1,0
83,14000.0,240.0,0,1,1,0,0,0,0,0,...,1,1,0,1,0,0,1,0,1,0
84,10000.0,199.0,0,1,1,1,0,0,0,0,...,1,1,0,0,0,1,0,0,1,0
85,8100.0,111.0,0,1,1,0,0,0,0,0,...,1,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66956,18000.0,370.0,0,1,1,0,0,0,0,0,...,1,1,0,0,0,0,1,0,1,0
66957,28000.0,750.0,0,0,1,0,0,0,0,0,...,1,1,0,1,0,0,1,0,1,0
66958,18000.0,340.0,0,0,1,1,0,0,0,1,...,1,1,0,1,0,0,1,0,1,0
66959,22000.0,400.0,0,1,1,0,0,0,0,0,...,1,1,0,1,0,0,1,0,1,0
66960,28000.0,750.0,0,0,1,0,0,0,0,0,...,1,1,0,1,0,0,1,0,1,0

In [70]:
data_model.to_csv('report/for_stata_index_creation.csv')
data_model.to_excel('report/for_stata_index_creation.xlsx')

In [71]:
data_model.columns

Index(['price', 'size', 'free_month', 'Gym_observed', 'SwimmingPool_observed',
       'ChildrensPlayArea_observed', 'Jacuzzi_observed', 'Sauna_observed',
       'SteamRoom_observed', 'BarbecueArea_observed', 'CCTVSecurity_observed',
       'SecurityStaff_observed', 'ConciergeService_observed',
       'Intercom_observed', 'AirConditioning_observed',
       'CentralHeating_observed', 'Balcony_observed', 'Fireplace_observed',
       'WalkInCloset_observed', 'MaidRoom_observed', 'DriversRoom_observed',
       'StudyRoom_observed', 'PrivateGarden_observed',
       'PrivateJacuzzi_observed', 'PrivatePool_observed',
       'PrivateGarage_observed', 'Elevator_observed',
       'ElectricityBackup_observed', 'BroadbandInternet_observed',
       'SatelliteCableTV_observed', 'WasteDisposal_observed',
       'Networked_observed', 'Parking_observed', 'KitchenAppliances_observed',
       'LaundryRoom_observed', 'ReceptionWaitingRoom_observed',
       'SharedGym_observed', 'SharedSpa_observed', 'PrayerRoom_observed',
       'NoCommission_observed', 'PetsAllowed_observed',
       'FreeUtilities_observed', 'ln_size', 'price_per_sqm',
       'ln_price_per_sqm', 'region', 'upd_municip', 'property_type_Apartment',
       'property_type_Compound', 'property_type_Duplex',
       'property_type_Penthouse', 'property_type_Residential Building',
       'property_type_Room', 'property_type_Studio', 'property_type_Townhouse',
       'property_type_Villa', 'upd_municip_Al-Daayen Municipality',
       'upd_municip_Al-Khor and Al-Thakhira Municipality',
       'upd_municip_Al-Rayyan Municipality',
       'upd_municip_Al-Shamal Municipality',
       'upd_municip_Al-Sheehaniya Municipality',
       'upd_municip_Al-Wakrah Municipality', 'upd_municip_Doha Municipality',
       'upd_municip_Umm Salal Municipality', 'furnished_fully_furnished',
       'furnished_partially_furnished', 'furnished_unfurnished',
       'furnished_unsure', '2023_10', '2023_12', '2023_7', '2023_8', '2023_9',
       '2024_1', '2024_2', '2024_3', '2024_5', 'Health_and_Fitness',
       'Security_and_Safety', 'Home_Comforts_and_Luxuries',
       'Utilities_and_Connectivity', 'Building_and_Community_Features',
       'bedrooms_small', 'bedrooms_standard', 'bedrooms_large',
       'bathrooms_small', 'bathrooms_large', 'property_type_Hotel Apartment'],
      dtype='object')